:root {
  margin: auto;
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.title{
  font-size: 4rem;
  color:#26BEDC;
}
.rules{
  font-size: 1.5rem;
  color: #74D88E;
}
button{
  margin:auto;
  font-size:15px;
  background-color: #E26CB5;
  border:none;
  border-radius: 6px;
  padding: 2px 5px;
  color: yellow;
}
.board-container{
  position: relative;
}
.game-board{
  position: relative;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;  
  grid-column-gap: 14px;
  grid-row-gap: 8px;
  padding-top: 50px;
  width:70%;
  margin:auto;
}
.modal{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  background-color: #11CFB9;
  height:500px;
  width: 500px;
  border: 2px solid white;
  border-radius: 6px;
  padding: 50px;
  transform: translate(-50%, -50%);
}
.winner-message{
  margin: auto;
  padding: 3rem;
  font-size: 2rem;
  line-height: 3.5rem;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  
}


.card{
  position: relative;
}
.card img{
  width: 100%;
  display: block;
  border: 2px solid white;
  border-radius: 6px;
}

.card .front{
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.flipped .front{
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}
.card .back{
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.flipped .back{
  transform: rotateY(90deg);
  transition-delay: 0s;
}
.turns{
  font-size: 20px;
  padding-top: 50px;
}

@media (width <= 1250px){
  .game-board{
    width: 95%;
  }
  .modal{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    margin:0;
    padding: 1rem;
    width: 60%;
    height:50%;
    
  }
  .winner-message{
    margin: auto;
    font-size: 1.5rem;
    padding:0;
    line-height: 3rem;
    text-shadow: 0.5px 0.5px 0.5px rgb(40, 40, 40);
    text-align: center;
    
  }
}
  
